source code/Authy/Web References/EmailService/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailWithBcc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="isBodyHtml" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="bcc" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendEmailWithBccResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailWithBccResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="from" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="to" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="cc" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="1" maxOccurs="1" name="isBodyHtml" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelayEmailSending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="em" type="tns:EmailModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHtmlBody" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiredTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DelyTime" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tos" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Ccs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Bccs" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="From" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BodyParameters" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMonitor" type="s:unsignedByte" />
        </s:sequence>
      </s:complexType>
      <s:element name="DelayEmailSendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelayEmailSendingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelDelaySending">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelDelaySendingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelDelaySendingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmailByToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmailByTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmailByTokenResult" type="tns:EmailModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="privateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmailModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmailModel" nillable="true" type="tns:EmailModel" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEmailsResult" type="tns:ArrayOfEmailModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailWithBccSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailWithBcc" />
  </wsdl:message>
  <wsdl:message name="SendEmailWithBccSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailWithBccResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="DelayEmailSendingSoapIn">
    <wsdl:part name="parameters" element="tns:DelayEmailSending" />
  </wsdl:message>
  <wsdl:message name="DelayEmailSendingSoapOut">
    <wsdl:part name="parameters" element="tns:DelayEmailSendingResponse" />
  </wsdl:message>
  <wsdl:message name="CancelDelaySendingSoapIn">
    <wsdl:part name="parameters" element="tns:CancelDelaySending" />
  </wsdl:message>
  <wsdl:message name="CancelDelaySendingSoapOut">
    <wsdl:part name="parameters" element="tns:CancelDelaySendingResponse" />
  </wsdl:message>
  <wsdl:message name="getEmailByTokenSoapIn">
    <wsdl:part name="parameters" element="tns:getEmailByToken" />
  </wsdl:message>
  <wsdl:message name="getEmailByTokenSoapOut">
    <wsdl:part name="parameters" element="tns:getEmailByTokenResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEmails" />
  </wsdl:message>
  <wsdl:message name="getAllEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEmailsResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithBcc">
      <wsdl:input message="tns:SendEmailWithBccSoapIn" />
      <wsdl:output message="tns:SendEmailWithBccSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelayEmailSending">
      <wsdl:input message="tns:DelayEmailSendingSoapIn" />
      <wsdl:output message="tns:DelayEmailSendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelDelaySending">
      <wsdl:input message="tns:CancelDelaySendingSoapIn" />
      <wsdl:output message="tns:CancelDelaySendingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmailByToken">
      <wsdl:input message="tns:getEmailByTokenSoapIn" />
      <wsdl:output message="tns:getEmailByTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmails">
      <wsdl:input message="tns:getAllEmailsSoapIn" />
      <wsdl:output message="tns:getAllEmailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailServiceSoap" type="tns:EmailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithBcc">
      <soap:operation soapAction="http://tempuri.org/SendEmailWithBcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelayEmailSending">
      <soap:operation soapAction="http://tempuri.org/DelayEmailSending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDelaySending">
      <soap:operation soapAction="http://tempuri.org/CancelDelaySending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmailByToken">
      <soap:operation soapAction="http://tempuri.org/getEmailByToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmails">
      <soap:operation soapAction="http://tempuri.org/getAllEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailServiceSoap12" type="tns:EmailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithBcc">
      <soap12:operation soapAction="http://tempuri.org/SendEmailWithBcc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelayEmailSending">
      <soap12:operation soapAction="http://tempuri.org/DelayEmailSending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDelaySending">
      <soap12:operation soapAction="http://tempuri.org/CancelDelaySending" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmailByToken">
      <soap12:operation soapAction="http://tempuri.org/getEmailByToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmails">
      <soap12:operation soapAction="http://tempuri.org/getAllEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="EmailServiceSoap" binding="tns:EmailServiceSoap">
      <soap:address location="http://oecu-rg2/WebServices/EmailService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailServiceSoap12" binding="tns:EmailServiceSoap12">
      <soap12:address location="http://oecu-rg2/WebServices/EmailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>